build/
.vs
.vs*
src/LearnAzureDevOps/LearnAzureDevOps/.vs
src/LearnAzureDevOps/LearnAzureDevOps/.vs/*
release/
scripts/
artifacts/
.dotnet
TestResults/
src/LearnAzureDevOps/LearnAzureDevOps/*.suo
src/LearnAzureDevOps/LearnAzureDevOps/obj/*
src/LearnAzureDevOps/LearnAzureDevOps/obj
src/LearnAzureDevOps/LearnAzureDevOps/*.user
bin
Bin
obj
/src/LearAzureDevOps/obj*
/src/LearAzureDevOps/obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
AppPackages/
*.bak
packages
*.orig
*.DotSettings
*.ide/
.nuget
project.lock.json
.vs

# Read the Docs
docs/_build
/src/LastMajorVersionBinary
src/LearnAzureDevOps/LearnAzureDevOps/obj/project.assets.json
src/LearnAzureDevOps/LearnAzureDevOps/obj/project.assets.json
src/LearnAzureDevOps/.vs/LearnAzureDevOps/v16/.suo
src/LearnAzureDevOps/.vs/*
src/LearnAzureDevOps/.vs/
src/LearnAzureDevOps/.vs
